body {
margin: 0;
font-family: 'Roboto';
background-color: #621402;
}
.container {
    max-width: 1170px;
    margin: auto;
}
.page-header {
    min-height: 100vh;
    background: url('/img/bg.svg') no-repeat center top / cover;
}
.nav-bar {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    list-style: none;
}
.menu {
    display: flex;
    margin: 0;
    margin-left: 17px;
}
.menu li {
    margin-right: 25px;
}
.nav-main {
    color: white;
    text-decoration: none;
}
.hello {
    color: white;
    line-height: 19px;
}
.user {
    margin-left: auto;
    margin-right: 10px;
}
.user-img {
    border-radius: 50px;
    margin-left: 11px;
}