body {
font-family: 'Roboto';
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
background-color: #621402;
}
.container {
    max-width: 1170px;
    margin: auto;
}
li {
list-style: none;
}
.nav-main {
    color: white;
    text-decoration: none;
    display: flex;
}
.hello {
    color: white;
    line-height: 19px;
}